body {
    background-color: #f4f4f4;
    color: #393e46;
}
hr {
    border-style: dotted none none none;
    border-color: #9ba6a5;
    border-width: 5px;
    background-color: #f4f4f4;
    width: 5%;
}
h1 {
    color: #393e46;
}
h3 {
    color: #393e46;
}